* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0000008c
}

header {
  width: 100%;
  background-color: rgb(70, 188, 192);
}

.limit-section {
  margin: 0 auto;
  max-width: 1024px;
}

/*Estilos Gerais termina aqui*/
/*Estilos do Rodapé começa aqui*/

.header-section {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 60px;
  padding: 5px;
}

.logo a img {
  width: 100%;
  height: 100%;
}


.links-top a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 15px;
  padding: 10px;
}

.links-top a:hover {
  color: rgb(3, 126, 109);
}

/*Estilos do Rodapé termina aqui*/
/*Estilos da primeira Seção começa aqui*/

.first-section {
  background-image: url(../assets/recepcao.png);
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.first-section .text-first-section-title {
  padding: 10px;
  width: 100%;
  color: white;
}

.first-section .text-first-section-title h1 {
  font-weight: normal;
  font-size: 30px;
}

/*Estilos da primeira Seção termina aqui*/
/*Estilos da segunda Seção começa aqui*/

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section .text-second-section-sobre {
  text-align: center;
  max-width: 600px;
  margin-top: 60px;
  padding: 10px;
}

.second-section .list-second-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.second-section .list-second-section .list-text-second-section {
  padding: 10px;
}

.second-section .list-second-section .list-text-second-section h3 {
  font-weight: normal;
  font-size: 18px;
}

.second-section .list-second-section .list-text-second-section ul {
  padding: 20px;
  margin-left: 15px;
}

/*Estilos da segunda Seção termina aqui*/
/*Estilos da terceira Seção começa aqui*/

.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-section .text-third-section-sobre {
  text-align: center;
  max-width: 600px;
  margin-top: 30px;
  padding: 10px;
}

.third-section .container-cards {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  padding: 15px;
}

.third-section .container-cards .card-box {
  width: calc(100% / 3);
  box-shadow: 0px 0px 5px 3px rgb(175, 175, 175);
  border-radius: 5px;
}

.third-section .container-cards .card-box img {
  border-radius: 5px;
  width: 100%;
}

.third-section .container-cards .card-box figcaption {
  text-align: center;
  line-height: 40px;
}

.container-link-horarios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-link-horarios a {
  color: white;
  text-decoration: none;
  background-color: rgb(70, 188, 192);
  padding: 13px;
  border-radius: 3px;
}

/*Estilos da terceira Seção termina aqui*/
/*Estilos da quarta Seção começa aqui*/

.fourth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-section .text-fourth-section-contato {
  text-align: center;
  max-width: 600px;
  margin-top: 40px;
  padding: 10px;
}

.fourth-section .text-fourth-section-contato p {
  margin-top: 15px;
}

.fourth-section .text-fourth-section-contato p span {
  font-weight: bold;
}

.container-iframe {
  margin-top: 20px;
  width: 100%;
}

.container-iframe iframe {
  width: 100%;
  padding: 15px;
}

/*Estilos da quarta Seção termina aqui*/
/*Estilos do Rodapé começa aqui*/

footer {
  width: 100%;
  background-color: rgb(3, 126, 109);
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}

.footer-section .text-footer {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
}

.footer-section .text-footer p {
  margin-top: 10px;
}

/*Estilos do Rodapé termina aqui*/
/*Media queries inicia aqui*/

@media screen and (max-width: 1024px) {
  .first-section {
    height: 400px;
  }
  
  .third-section .container-cards {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 768px) {
  .header-section {
    flex-direction: column;
  }
  
  .header-section .links-top {
    border-top: 1px solid rgb(3, 126, 109);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .header-section .links-top a {
    margin: 5px;
    padding: 5px;
  }
  
  .first-section {
    height: 300px;
  }
  
  .first-section .text-first-section-title h1 {
    font-size: 27px;
  }
  
  .second-section .list-second-section img {
    display: none;
  }
  
  .third-section .container-cards {
    flex-direction: column;
  }
  
  .third-section .container-cards .card-box 
  {
    width: 100%;
    max-width: 400px;
  }
  
  .container-iframe iframe {
    height: 400px;
  }
  
}

@media screen and (max-width: 425px) {
  .first-section {
    height: 200px;
  }
  
  .first-section .text-first-section-title h1 {
    font-size: 25px;
  }
  
  .container-iframe iframe {
    height: 350px;
  }
  
}